<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="schedule.css" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pacifico|Quicksand&display=swap" rel="stylesheet">

</head>

<!--style>
    #main {
        padding: 10px;
    }

    .past-event {
        text-decoration: line-through
    }
</style-->
<!--"-->

<body>
    <div id="main">
        <div id="banner">
            <!--img class="img" src="./images/mhlogo.jpg" width="128" height="128" alt="Midnight Haven logo"-->
            <h3>Hello, {{.ServerName}}! ❤️</h3>
            <h4>Here is the current lineup of events for the week of:
                <br>
                {{.CurrentWeekString}}.</h4>
            <h6>Posted times are in <strong>{{.Tz}}</strong></h6>
        </div>
        <hr />
        <div id="schedule">
            <ul class="week list-group">
                {{range .Week.Days}}
                <li class="day list-group-item {{.IsCurrentDayString}}">{{.DayName}}</li>
                <ul class="{{.DayName}}-events list-group">
                    {{range .Events}}
                    {{if .HasPassed}}
                    <!--Strike thru style here-->
                    <li class="past-event event">{{.PrettyPrint}}</li>
                    {{else}}
                    <li class="event">{{.PrettyPrint}}</li>
                    {{end}}
                    {{end}}
                </ul>
                {{end}}

        </div>
        <h4 class="factOTD">Fact of the Day:</h4>
        <div id="facts">
            <p class="factTitle">{{.FactTitle}}</p>
            <p>{{.Fact}}</p>
        </div>
    </div>

</body>

</html>