/*schedule css - Hippuu 9/3/19  #2e2a30 #221f24*/

#main
{

    font-family: 'Inconsolata', monospace;
    color: #b1a9b9;
    padding: 10px;
    background-color: #2e2a30;
}

#banner
{
    position: relative;
    width: 50%;
    height: 128px;
    background: linear-gradient(to left, #3c373f , #3c373f 35%, transparent),url("./images/mhlogo.jpg")no-repeat left;

    border: 2px solid #1b191d;
    border-radius: 8px;
    box-shadow: 8px 8px #252227;
    
}
.img
{
    margin: 2px;
    float: left;
}

h3
{
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 1px;
    left: 10px;
    color: #d28aff;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

h4
{
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 35px;
    left: 30px;
    color: #dcbcff;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

h5
{
    position: absolute;
    bottom: 1px;
    right: 10px;
    color: #b6a8c5;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
